#landing .mainlanding_card{
    color:white;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
    height:100%;
    font-family: 'PT Sans', sans-serif;
    display:grid;
    grid-template-rows: 70% 20% auto;
    padding-left:20px;
    transition: background 2s linear;
}

#landing .mainlanding_card:hover{
    opacity:0.5;
    transition: 1s;
    cursor:pointer;
}


#landing .mainlanding_card .mainlanding_card_title{
    font-size:1.5em;
}