.form_container{
    display:grid;
    height:10vh;
    background-color:black;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-areas:"left search right";
    color:white;
    display:block;
    align-content:center;
    justify-content: center;
}



.form_container .form_subcontainer li{
    list-style:none;
    padding:20px;
    float:right;
    
}

.form_container .form_subcontainer form{

    
}
.form_container .form_subcontainer input{
    border-radius: 20px;
    
}

.searchIcon{
    padding-left: 10px;
    cursor: pointer;
}
#inputbox{
    background-color:black;
    border:None;
    color:white;
    font-size: 1.2em;
}
#inputbox:focus{
    background-color:none;
    border:none;
}

.form_container .form_subcontainer li:hover{
    transition : background 1.5s;
    cursor: pointer;
}
