header {
    margin:0;
    padding:0;

}

header nav{
display:grid;
grid-template-columns: 1fr 6fr 5fr;
grid-template-areas: "logo main nav";
background-color:black;
margin: 0 auto;
color:white;
}

header nav .input{
    height:50%;
    align-self: center;
    justify-self: right;
    grid-area:main;
}

header nav ul{
list-style: none;
padding:0;
margin:0;
grid-area:nav;

}


header nav ul li{
    float:right;
    padding:1.5em;
}
header nav ul li:hover{
    background-color : #e969d8;
    transition : background 1.5s;
}

header nav ul li #movies{
    grid-area:tvshows;
    }